.aside {
  position: fixed;
  z-index: 2;
  top: 30px;
  right: -292px;
  width: 292px;
  height: calc(100% - 60px);
  background-color: #f6f7f8;
  padding-top: 64px;
  transition: .3s ease-in-out;
}

.aside_active {
  right: 16px;
}

  .aside__link {
    width: 100%;
    padding: 8px 6px;
    font-size: 14px;
    text-align: center;
  }

  .aside__close {
      position: absolute;
      top: 0;
      right: 20px;
      cursor: pointer;
  }


