.btn {
  outline: none;
  background-color: transparent;
  padding: 0px 12px;
  font-size: 14px;
  border: none;
  color: rgba(0,0,0,.85);
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
}

.btn_header {
  color: rgba(255,255,255,.85);
  background-color: #3F3F3F;
  margin-left: 16px;
}