.btn_career{
    padding: 10px 25px;
    border: 1px solid;
    color: #3F3F3F;
    font-weight: bold;
    background-color: inherit;
    min-width: 150px;
    cursor: pointer;
}

.btn_career:hover {
    background-color: white;
    color: #000;
}

.btn-subscribe {
    color: #D6F7FF;
    font-style: normal;
    padding: 5px;
    background: #324C69;
    border: 2px solid #435F77;
    cursor: pointer;
}
