.input__career {
    padding: 12px 80px 12px 15px;
    border: 1px solid;
    width: 100%;
    max-width: 315px;
    background-color: inherit;
}

.textarea__career {
    height: 80px;
    width: 100%;
    max-width: 315px;
    background-color: inherit;
    border: 1px solid;
    margin-bottom: 20px;
    padding: 12px 8px;
}

.input__contacts {
    padding: 5px 8px;
    border: 2px solid #324C69;
}
